extends master

block content
  script.
    var plmPageData = { priceListId: !{JSON.stringify(page.data.priceListId || null)} };

  div.eg-wrapper(ng-controller="editGroupedController")

    div.toast-container(ng-if="toast.show")
      div.toast-msg(ng-class="'toast-' + toast.type") {{ toast.message }}

    //- Loading state
    div.eg-loading(ng-if="loading")
      i.bi.bi-arrow-clockwise.spinning
      |  Memuat data...

    div(ng-if="!loading")

      //- Header card
      div.eg-header-card
        div.eg-header-top
          div.eg-header-title
            button.btn-back(ng-click="goBack()")
              i.bi.bi-arrow-left
            h2.eg-cat-name
              | {{ pl.cat_name }}
              span.eg-rev  Rev.{{ pl.revision_no | padNumber:3 }}
            span.status-badge.status-open OPEN
          div.eg-header-actions
            button.btn-primary(ng-click="goBack()")
              i.bi.bi-check-circle
              |  Selesai Edit
        div.eg-header-info
          span.info-item
            i.bi.bi-collection
            |  {{ groups.length }} groups · {{ totalItemCount() }} item
          span.info-item.warning(ng-if="undetectedItems.length > 0")
            i.bi.bi-exclamation-triangle
            |  {{ undetectedItems.length }} item belum di-assign

      //- Toolbar
      div.eg-toolbar
        div.search-wrapper
          i.bi.bi-search
          input.search-input(type="text" ng-model="searchQuery" placeholder="Cari nama barang...")
          button.search-clear(ng-click="searchQuery = ''" ng-if="searchQuery")
            i.bi.bi-x
        div.eg-toolbar-actions
          button.btn-ghost.btn-small(
            ng-click="sortGroup = 'thickness_asc'"
            ng-class="{active: sortGroup === 'thickness_asc'}")
            | Tebal ↑
          button.btn-ghost.btn-small(
            ng-click="sortGroup = 'thickness_desc'"
            ng-class="{active: sortGroup === 'thickness_desc'}")
            | Tebal ↓
          button.btn-secondary.btn-small(ng-click="openCreateGroupModal()")
            i.bi.bi-plus-circle
            |  Group Manual

      //- Groups list
      div.eg-groups-wrapper
        div.eg-empty-state(ng-if="groups.length === 0")
          i.bi.bi-inbox
          |  Belum ada group. Init groups di Settings dulu.
        div.eg-group-card(ng-repeat="g in groups | groupSort:sortGroup")
          div.eg-group-header(
            ng-class="{expanded: g._expanded}")
            div.egh-left
              button.btn-toggle-expand(ng-click="toggleGroup(g)")
                i.bi(ng-class="g._expanded ? 'bi-chevron-down' : 'bi-chevron-right'")
              span.egh-thickness {{ g.thickness_label }}
              span.egh-count {{ g.items.length }}
            div.egh-right
              div.egh-price-input(ng-if="isExtendedCategory")
                label Cash Pabrik
                input(type="number" ng-model="g.cash_pabrik_kg" ng-change="onGroupPriceChange(g)" placeholder="0")
              div.egh-price-input
                label Cash Gudang
                input(type="number" ng-model="g.cash_gudang_kg" ng-change="onGroupPriceChange(g)" placeholder="0")
              div.egh-price-input(ng-if="isExtendedCategory")
                label Kredit Pabrik
                input(type="number" ng-model="g.kredit_pabrik_kg" ng-change="onGroupPriceChange(g)" placeholder="0")
              div.egh-price-input
                label Kredit Gudang
                input(type="number" ng-model="g.kredit_gudang_kg" ng-change="onGroupPriceChange(g)" placeholder="0")
              span.save-indicator(ng-if="g._saving")
                i.bi.bi-arrow-clockwise.spinning
              span.save-indicator.saved(ng-if="!g._saving && g._saved")
                i.bi.bi-check-circle-fill

          //- Expanded detail table
          div.eg-group-detail(ng-if="g._expanded")
            div.eg-empty-detail(ng-if="g.items.length === 0") Group ini belum punya item
            table.eg-detail-table(ng-if="g.items.length > 0")
              thead
                tr
                  th(ng-click="setSortItem(g, 'i_name')" ng-class="getItemSortClass(g, 'i_name')") NAMA BARANG
                  th.text-right(ng-click="setSortItem(g, 'i_weight')" ng-class="getItemSortClass(g, 'i_weight')") BERAT
                  th.text-right(ng-if="isExtendedCategory") CP /LBR
                  th.text-right CG /LBR
                  th.text-right(ng-if="isExtendedCategory") KP /LBR
                  th.text-right KG /LBR
                  th(style="width:32px")
              tbody
                tr(ng-repeat="it in g.items | orderBy:g._itemSort:g._itemSortReverse | itemNameFilter:searchQuery")
                  td {{ it.i_name }}
                  td.text-right.mono {{ it.i_weight | number:2 }} kg
                  td.text-right.mono(ng-if="isExtendedCategory") {{ it.cash_pabrik_lbr | thousand }}
                  td.text-right.mono {{ it.cash_gudang_lbr | thousand }}
                  td.text-right.mono(ng-if="isExtendedCategory") {{ it.kredit_pabrik_lbr | thousand }}
                  td.text-right.mono {{ it.kredit_gudang_lbr | thousand }}
                  td.text-center
                    button.btn-icon-mini(ng-click="openMoveItemModal(it, g)" title="Pindah ke group lain")
                      i.bi.bi-arrow-left-right

      //- Footer: undetected items
      div.eg-footer-section(ng-if="undetectedItems.length > 0")
        div.eg-footer-warning
          i.bi.bi-exclamation-triangle-fill
          |  {{ undetectedItems.length }} item belum di-assign group:
          button.btn-ghost.btn-small(ng-click="showUndetected = !showUndetected")
            | {{ showUndetected ? 'Tutup' : 'Lihat' }}
        div.eg-undetected-list(ng-if="showUndetected")
          div.und-item(ng-repeat="it in undetectedItems")
            span.und-name {{ it.i_name }}
            small.muted  ({{ it.i_weight | number:2 }} kg)
            select(ng-model="it._selectedGroup" ng-change="assignUndetected(it)")
              option(value="") Pilih group...
              option(ng-repeat="g in groups" value="{{ g.id }}") {{ g.thickness_label }}

    //- Modal: Create group
    div.modal-overlay(ng-if="modalCreateGroup" ng-click="closeCreateGroupModal()")
      div.modal-card.modal-small(ng-click="$event.stopPropagation()")
        div.modal-header
          h3 Buat Group Manual
          button.modal-close(ng-click="closeCreateGroupModal()") ×
        div.modal-body
          div.form-group
            label Tebal (mm)
            input.form-control(type="number" ng-model="modalCreateGroup.thickness" step="0.01" placeholder="2.30" autofocus)
            small.form-hint Contoh: 2.30 untuk plat 2.30 mm
        div.modal-actions
          button.btn-ghost(ng-click="closeCreateGroupModal()") Batal
          button.btn-primary(
            ng-click="executeCreateGroup()"
            ng-disabled="!modalCreateGroup.thickness || modalCreateGroup.executing")
            | Buat Group

    //- Modal: Move item
    div.modal-overlay(ng-if="modalMoveItem" ng-click="closeMoveItemModal()")
      div.modal-card.modal-small(ng-click="$event.stopPropagation()")
        div.modal-header
          h3 Pindah Item ke Group Lain
          button.modal-close(ng-click="closeMoveItemModal()") ×
        div.modal-body
          p
            strong {{ modalMoveItem.item.i_name }}
            small.muted  ({{ modalMoveItem.item.i_weight | number:2 }} kg)
          p
            | Saat ini di group:
            strong  {{ modalMoveItem.fromGroup.thickness_label }}
          div.form-group
            label Pindah ke group:
            select.form-control(ng-model="modalMoveItem.toGroupId")
              option(value="") -- Pilih group --
              option(ng-repeat="g in groups" ng-if="g.id !== modalMoveItem.fromGroup.id" value="{{ g.id }}") {{ g.thickness_label }} ({{ g.items.length }} item)
        div.modal-actions
          button.btn-ghost(ng-click="closeMoveItemModal()") Batal
          button.btn-primary(ng-click="executeMoveItem()" ng-disabled="!modalMoveItem.toGroupId")
            | Pindahkan
